<div class="container">
  <div class="row">
    <div class="col-sm text-center">
      <img src="/assets/img/burger.jpg">
      <h1>Eat-Da-Burger!</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <ul class="list-group">
        {{#each burger}}
          {{#unless devoured}}
            <li class="list-group-item">
              {{id}}. 
              {{burger_name}}
              <button class="update btn btn-secondary btn-sm" data-id="{{id}}" data-status="{{isDevoured}}">
                Devour it!
              </button>
              <button class="delete btn btn-secondary btn-sm" data-id="{{this.id}}">Cancel</button>
            </li>
          {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-sm">
      <ul class="list-group">
        {{#each burger}}
          {{#if devoured}}
            <li class="list-group-item disabled">
              {{id}}. 
              {{burger_name}}
            </li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div id="addBurger" class="col-sm-8 text-center">
      <form class="create-form">
        <div class="form-group">
          <label for="newBurger"></label>
          <textarea class="form-control" id="newBurger" name="name"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
        <p class="text-center">Enter a burger you want to and Click the "Submit" button.</p>
      </form>
    </div>
    <div class="col-sm-2"></div>
  </div>
</div>
